
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

* body {
    background-color: #ffffff;
    height: 100%;
    overflow: hidden;
}

.calculator {
    padding: 0.5em;
    text-align: center;
    color: #000000;
    font-weight: bold;
    margin: 50px auto;
    width: 300px;
    height: 450px;
    font-size: 1.5rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #555555;
}

.input {
    background-color: #dddddd;
    color: #000000;
    padding: 5px;
    border-radius: 6px;
    text-align: right;
}

.previous, .current {
    min-height: 30px;
}

.previous {
    font-size: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;
    min-height: 320px;
    border-radius: 6px;
}

.first-row .second-row .third-row .fourth-row {
    display: flex;
    justify-content: space-evenly;
}

.button {
    font-size: 1.2rem;
    height: 55px;
    width: 55px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px #555555;
}

.button:hover {
  cursor: pointer;
} 

.operator, .equal {
    background-color: #ffffff;
}

.number {
    background-color: #ffffff;
}

.clear {
    background-color: #ffffff;
}

footer {
    text-align: center;
    color: #657b83;
    font-family: inherit;
}
